<a href="https://colab.research.google.com/github/Ujjal1-max/ujjal1-max/blob/main/first_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create variables for your name, age, and favorite color, then print them with descriptive labels.
name = "Ujjal"
age = 28
favorite_color = "Blue"

print("Name:", name)
print("Age:", age)
print("Favorite Color:", favorite_color)

Name: Ujjal
Age: 28
Favorite Color: Blue

In [ ]:
# 2. Create one variable of each type and use the type() function to verify its type.
an_int = 10
a_float = 3.14
a_str = "Hello, Python"
a_bool = True
a_list = [1, 2, 3]
a_tuple = (4, 5, 6)
a_set = {"red", "green", "blue"}
a_dict = {"key": "value"}

print("Type of an_int:", type(an_int))
print("Type of a_float:", type(a_float))
print("Type of a_str:", type(a_str))
print("Type of a_bool:", type(a_bool))
print("Type of a_list:", type(a_list))
print("Type of a_tuple:", type(a_tuple))
print("Type of a_set:", type(a_set))
print("Type of a_dict:", type(a_dict))

Type of an_int: <class 'int'>
Type of a_float: <class 'float'>
Type of a_str: <class 'str'>
Type of a_bool: <class 'bool'>
Type of a_list: <class 'list'>
Type of a_tuple: <class 'tuple'>
Type of a_set: <class 'set'>
Type of a_dict: <class 'dict'>

In [ ]:
# 3. Calculate the area and perimeter of a rectangle with length 7 and width 5.
length = 7
width = 5
area = length * width
perimeter = 2 * (length + width)

print("Area:", area)
print("Perimeter:", perimeter)

Area: 35
Perimeter: 24

In [ ]:
# 4. Create a list of 5 Bangladeshi foods, then access the first and last elements.
bangladeshi_foods = ["Hilsa", "Biriyani", "Panta Bhat", "Pitha", "Fuchka"]
print("Bangladeshi foods:", bangladeshi_foods)
print("First food:", bangladeshi_foods[0])
print("Last food:", bangladeshi_foods[-1])

Bangladeshi foods: ['Hilsa', 'Biriyani', 'Panta Bhat', 'Pitha', 'Fuchka']
First food: Hilsa
Last food: Fuchka

In [ ]:
# 5. Create a list of 5 numbers, add a new number, remove one, and then sort the list.
numbers = [42, 7, 19, 25, 3]
print("Original numbers:", numbers)
numbers.append(10)  # add a new number
print("After adding 10:", numbers)
numbers.remove(19)  # remove one (19)
print("After removing 19:", numbers)
numbers.sort()
print("After sorting:", numbers)

Original numbers: [42, 7, 19, 25, 3]
After adding 10: [42, 7, 19, 25, 3, 10]
After removing 19: [42, 7, 25, 3, 10]
After sorting: [3, 7, 10, 25, 42]

In [ ]:
# 6. Create a dictionary about yourself with at least 4 key-value pairs.
about_me = {
    "name": "name",
    "age": "age",
    "city": "Sylhet",
    "profession": "Student",
    "favorite_food": "Biriyani"
}
print("About me:", about_me)
print("My city is:", about_me["city"])

About me: {'name': 'name', 'age': 'age', 'city': 'Sylhet', 'profession': 'Student', 'favorite_food': 'Biriyani'}
My city is: Sylhet

In [ ]:
# 7. Create a tuple with the latitude and longitude of a famous place in Bangladesh.
sundarbans_coords = (21.9497, 89.1833)  # (latitude, longitude)
print("Sundarbans coordinates:", sundarbans_coords)

Sundarbans coordinates: (21.9497, 89.1833)

In [ ]:
# 8. Create two sets of colors and find their union and intersection.
colors1 = {"red", "green", "blue"}
colors2 = {"blue", "yellow", "black"}
print("Union:", union_colors)
print("Intersection:", intersection_colors)

Union: {'green', 'yellow', 'blue', 'red', 'black'}
Intersection: {'blue'}

In [ ]:

# 9. Write a Python function that takes a string as input and prints the first and last character of the string.
def print_first_and_last(s):
    if len(s) == 0:
        print("String is empty.")
    else:
        print("First character:", s[0])
        print("Last character:", s[-1])

# For test
print_first_and_last("Bangladesh")
print_first_and_last("A")
print_first_and_last("")

print()

First character: B
Last character: h
First character: A
Last character: A
String is empty.

In [ ]:
# 10. Write a Python function that takes a string and converts it to uppercase.
def to_uppercase(s):
    return s.upper()

print(to_uppercase("hello, world"))
print(to_uppercase("python is fun"))

HELLO, WORLD
PYTHON IS FUN